extends ../layout

block content
    .container
        br
        br
        br

        a.btn.btn-danger(href='/bicicletas') Volver

        br
        br
        br

        h1 Nueva Bicicleta

        br
        br
        br
        form(action='/bicicletas/create' method='post')
            label(for='id') ID: 
            input.form-control(type='text' name='id' placeholder='Ingresa el id')
            br
            label(for='color') Color
            input.form-control(type='text' name='color' placeholder='Ingresa el Color')
            br
            label(for='modelo') Modelo
            input.form-control(type='text' name='modelo' placeholder='Ingresa el Modelo')
            br
            label(for='lat') Latitud
            input.form-control(type='text' name='lat' placeholder='Ingresa la Latitud')
            br
            label(for='lng') Longitud
            input.form-control(type='text' name='lng' placeholder='Ingresa la Longitud')
            br
            br
            input.btn.btn-primary(type='submit' value='Crear')
            br
            br
            br