extends ../layout

block content
  .container
    br
    br
    br
    a.btn.btn-danger(href='/bicicletas/create') Crear Bici
    br
    br
    br
    table.table
      thead
        tr
          th(scope='col') ID
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Latitud
          th(scope='col') Longitud
          th(scope='col') 
          th(scope='col') 
      tbody
        each bici in bicis
          tr
            th(scope='row')
              = bici.id
            td= bici.color
            td= bici.modelo
            td= bici.ubicacion[0]
            td= bici.ubicacion[1]
            td
              a(href='bicicletas/' + bici.id + '/update') Editar
            td
              form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                input(type='hidden' name='id' value= bici.id)
                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                  = 'Eliminar'
