extends ../layout

block content
    .container
        br
        br
        br

        a.btn.btn-danger(href='/bicicletas') Volver

        br
        br
        br

        h1 Nueva Bicicleta

        br
        br
        br
        form(action=`/bicicletas/${bici.id}/update` method='post')
            label(for='id') ID: 
            input.form-control(type='text' name='id' value=bici.id)
            br
            label(for='color') Color
            input.form-control(type='text' name='color' value=bici.color)
            br
            label(for='modelo') Modelo
            input.form-control(type='text' name='modelo' value=bici.modelo)
            br
            label(for='lat') Latitud
            input.form-control(type='text' name='lat' value=bici.ubicacion[0])
            br
            label(for='lng') Longitud
            input.form-control(type='text' name='lng' value=bici.ubicacion[1])
            br
            br
            input.btn.btn-primary(type='submit' value='Modificar')
            br
            br
            br